<h1 matDialogTitle>Add New Expense</h1>

<form [formGroup]="expenseForm" class="form">
  <!-- Expense details -->
  <input
    class="form-control"
    placeholder="Enter Expense Details"
    type="text"
    formControlName="expenseDetails"
  />

  <!-- Expense amount -->
  <input
    class="form-control"
    placeholder="Enter Expense Amount"
    type="number"
    formControlName="amount"
  />

  <!-- Category dropdown -->
  <p-select
    [options]="expensecategory"
    formControlName="category"
    optionLabel="name"
    optionValue="name"
    appendTo="body"
    placeholder="Select Category"
    class="w-full md:w-56"
  ></p-select>
</form>

<mat-dialog-actions>
  <button (click)="onCancel()" style="margin-right: 10px" class="btn btn-danger">Cancel</button>
  <button (click)="onConfirm()" class="btn btn-outline-primary">Submit</button>
</mat-dialog-actions>
