.dialog {
  padding: 20px;
  /* space on all sides */
  border-radius: 10px;
  /* round corners */
  background-color: #f6faef;
  /* white background */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  /* subtle shadow */
}


.btn-outline-primary {
  border-color: green;
}


.dialog mat-dialog-actions {
  gap: 10px;
  /* spacing between buttons */
}